@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&family=Parisienne&family=Petit+Formal+Script&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
:root{
    --font-family: "Oswald", sans-serif;
    --font-contact: "Bodoni Moda", serif;
}
*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
  background: #111;

}